<article class='ContentView'>
    <header class='PageTitle'>
        <h1><%= post.title %></h1>
    </header>

    <section>
      <%- post.content %>

      <% if (post.type === 'tags') { %>
        <ul class="Tags">
          <%- partial('_partial/tag-list', { className: 'tag-list', tags: site.tags }) %>
        </ul>
      <% } else if (post.type === 'categories') { %>
        <ul class="Tags">
          <%- partial('_partial/tag-list', { className: 'tag-list', tags: site.categories }) %>
        </ul>
      <% } %>

    </section>
    <% if (!isPage) { %>
      <section class='ArticleMeta'>
          <div>
            发布于&nbsp;
            <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
              <%= date(post.date, config.date_format) %>
            </time>
          </div>
          <% if (post.tags && post.tags.length){ %>
            <div>
              tags: <%- partial('tag-list', { className: 'meta-text', tags: post.tags }) %>
            </div>
          <% } %>
      </section>
    <% } %>
    <% if (theme.disqus.enable === 'all' || (theme.disqus.enable === 'post' && !isPage)) { %>
      <section>
        <div id="disqus_thread"></div>
        <script>
          window.disqus_config = function () {
            this.page.url = window.location.toString()
            this.page.identifier = window.location.pathname
          }
          if (typeof DISQUS === 'undefined') {
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://<%= theme.disqus.shortname %>.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          } else {
            DISQUS.reset({
                reload: true,
                config: window.disqus_config
            })
          }
        </script>
      </section>
    <% } %>
</article>
