<aside class='SideBar'>
    <section class='avatar'>
        <div class='av-pic'/>
    </section>
    <section class='menu'>
        <div><%= theme.name %></div>
        <div><%= theme.sign %></div>
        <ul>
          <% for (const m in theme.menu) { %>
            <a href="<%= theme.menu[m] %>" class="Btn">
              <li><%= m %></li>
            </a>  
          <% } %>
        </ul>
    </section>
    <section class="media">
        <% for (const m in theme.media) { %>
            <% if (theme.media[m]) { %>
                <a href="<%- url_for(theme.media[m]) %>">
                    <img src="/assets/<%= m %>.svg" />
                </a>
            <% } %>
        <% } %>
    </section>
</aside>
